---
BasedOnStyle: Google

AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping: {
    AfterEnum: 'true'
}
---
