#ifndef NRF24L01_CONFIG_HPP_TEMPLATE_
#define NRF24L01_CONFIG_HPP_TEMPLATE_

static inline void delayMs(uint32_t ms) {}

static inline void delayUs(uint32_t us) {}

static inline uint32_t getMillis() {
    return (0);
}

#endif // NRF24L01_CONFIG_HPP_TEMPLATE_
